
@model Services

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Services Details</h1>




<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.Title" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
    <input type="text" disabled class="form-control" aria-label="Sizing example input" value="@Model.Description" aria-describedby="inputGroup-sizing-default">
</div>





<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a class="btn btn-outline-dark" asp-action="Index">Back to List</a>








