
@{
    ViewData["Title"] = "SubscibeConfirm";
}

<h1 style="text-align:center">Email tesdiq olundu</h1>

@section addjs{ 

    <script>$(document).ready(function () {
    setTimeout("window.location.pathname = \"blog/Details\";", 2000);
        })</script>
}