
@model SkilCreateCommand

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center">ProductSizes Create</h1>



<div class="col-6 offset-3">
    <form method="post">


        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">SkillName</span>
            <input type="text" class="form-control" asp-for="SkillName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">SkillType</span>
            <input type="text" class="form-control" asp-for="SkillType" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">SkillPercentage</span>
            <input type="text" class="form-control" asp-for="SkillPercentage" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">SkillDescription</span>
            <input type="text" class="form-control" asp-for="SkillDescription" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">



            <input type="radio"  asp-for="isHardSkill" name="True" value="True">
            <label class="label" for="isHardSkill">Hard Skills</label><br>





            <input type="radio" class="XxX" asp-for="isHardSkill" name="True" value="True">
            <label  class="label" for="isHardSkill">Soft Skills</label><br>


        </div>




        <button type="submit" class="btn btn-outline-success">
            <i class="fas fa-plus"></i>

            Creat
        </button>
        <a asp-action="index" class="btn btn-outline-info">Geriye qayit</a>


    </form>
</div>

@section addcss{ 
    <style>
        .XxX{
            margin-left:20px;
        }
        .label {
            margin-top: -3px;
            margin-left: 5px;
        }
    </style>
}